/* Import font
@import url('https://fonts.googleapis.com/css?family=Lato');

/* LOTS of stuff here just to get the navigation bar in order */

.navbar-inverse {
  background-color: #221f20;
  border-color: none;
  padding: 10px;
}

.navbar-right {
  font-family: "Lato",helvetica,arial,sans-serif;
  position: absolute;
  display: block;
  font-size: 1.2em;
  color: white;
}

ul.nav.navbar-nav.navbar-right {
  background: #009CAB;
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 300px;
  position: relative;
  transition: all 0.5s ease;
  padding: 12px 10px 12px 10px;
}

ul.nav.navbar-nav.navbar-right::before {
  content: "More Experimentation Tools";
  }

ul.nav.navbar-nav.navbar-right:hover > li
{
  visibility: visible;
  opacity: 1;
  display: block;
}

ul.nav.navbar-nav.navbar-right li {
  color: #fff;
  display: none;
  visibility: hidden;
  opacity: 0;
  float: left;
  padding: 0;
  position: relative;
  transition-duration: 0.5s;
}
  
ul.nav.navbar-nav.navbar-right li a {
  color: #fff;
  font-weight: normal;
  font-size: 0.9em;
    padding: 5px 0 5px 5px;
}

ul.nav.navbar-nav.navbar-right li:hover {
  background: #00727C;
}

ul.nav.navbar-nav.navbar-right li>a:hover {
  background-color: #004D53;
}

ul.nav.navbar-nav.navbar-right li {
  clear: both;
  width: 100%;
}

/* End all the stuff for the global nav */

/* Shift the sidebar down a smidge */
.section.sidebar {
  top: 60px;
}

body {
  background-color: #f4f4f4;
}

/* Set the main body/text font */
p, a {
    font-family: "Lato", helvetica,arial,sans-serf;
    font-size: 1em;
    margin: 5px 0 5px 0;
}

/* Main results output */
h1 {
  font-family: "Lato",helvetica,arial,sans-serf;
  font-size: 1.8em;
  font-weight: bold;
  color: #0060AF;
  text-align: left;
}
h2 {
  font-family: "Lato",helvetica,arial,sans-serf;
  font-size: 1.4em;
  text-align: left;
  line-height: 0.8;
}

h3 {
  font-family: "Lato", helvetica,arial,sans-serf;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
}

/* Titles at the top of each panel */
.chart-title {
  font-family: "Lato",helvetica,arial,sans-serf;
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

/* Overall app title */
.navbar-brand {
  font-size: 19px;
}

/* Numerical inputs */
.form-control {
  font-size: 17px;
  padding: 0 10px;
  background-color: #bdd4f9;
  border: none;
  height: 30px;
}

/* Button formatting */
.btn {
  font-family: "Lato",helvetica,arial,sans-serf;
  margin-bottom: 10px;
}

/* Style for explanatory text */
.descriptions {
  margin-bottom: 0.5em;
}

/* Slider input labels */
.irs-min, .irs-max, .irs-grid-text {
  font-size: 0.9em;
}

/* Style the headings for the two main assessment types. This will */
/* have to be changed if the copy changes, unfortunately */
#section-overview-and-purpose > div.chart-title,
#section-assessment-1-detecting-the-existence-of-an-effect > div.chart-title,
#section-assessment-2-estimating-the-size-of-the-effect > div.chart-title {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #0060AF;
}

