/* Remove the title bar */
.navbar{
  background-color: #000000;
  text-align: center;
} 

body {
  background-color: #f4f4f4;
}

/* Set the main body/text font */
p, a {
    font-family: "adelle-sans",helvetica,arial,sans-serf;
    font-size: 14px;
}

/* Main results output */
h1 {
  font-family: "adelle-sans",helvetica,arial,sans-serf;
  font-size: 24px;
  font-weight: bold;
  color: #0060AF;
  text-align: center;
}
h2 {
  font-family: "adelle-sans",helvetica,arial,sans-serf;
  font-size: 22px;
  text-align: center;
  line-height: 0.8;
}

h3 {
  font-family: "adelle-sans",helvetica,arial,sans-serf;
  font-size: 18px;
  text-align: center;
}

/* Titles at the top of each panel */
.chart-title {
  font-family: "adelle-sans",helvetica,arial,sans-serf;
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

/* Overall app title */
.navbar-brand {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-left: -25px !important;
}

/* Numerical inputs */
.form-control {
  font-size: 17px;
  padding: 0 10px;
  background-color: #bdd4f9;
  border: none;
  height: 30px;
}


